<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{454,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,450}}</string>
                <key>sourceSize</key>
                <string>{454,450}</string>
            </dict>
            <key>1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1161},{287,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,382}}</string>
                <key>sourceSize</key>
                <string>{287,382}</string>
            </dict>
            <key>2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{435,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,391}}</string>
                <key>sourceSize</key>
                <string>{435,391}</string>
            </dict>
            <key>3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{252,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,244}}</string>
                <key>sourceSize</key>
                <string>{252,244}</string>
            </dict>
            <key>4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pic.png</string>
            <key>size</key>
            <string>{484,1696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f937c5e0782f8a233ba088856d8b8d3$</string>
            <key>textureFileName</key>
            <string>pic.png</string>
        </dict>
    </dict>
</plist>
